.skill{
    width: 80%;
    margin-left: 10%;
}
.bcolor{
    padding: 6% 0;
    background-color: rgb(246, 174, 125);
}
h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.roundimg{
    border-radius: 50%;
    padding: 15px;
    background-color: white;
}
.roundimg:hover{
    font-weight: bold;
    transform: scale(1.2);
    box-shadow: 0 8px 12px 0 rgba(3.0,2.4,2.0,2.2)
}