#bod{
    background-image: url(shooping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#romo{
    color: blue;
    font-size: 400%;
    padding-top: 10%;
    padding-left: 20%;
}
#trand{
    font-size: 500%;
    color:orange;
    padding-left: 20%;
}
#huge{
    padding-left:20%;
    font-size: 150%;
}
#nav{
    color: white;
}
button{
    margin-left:200%;
    background-color: blue;
    border-radius: 5px;
}
#img{
    padding-left: 50%;
    padding-top: 90px;
}