@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lobster&family=Oswald:wght@300&family=Pacifico&family=Sofia&family=Source+Code+Pro:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}
.bdys{
    height: 100vh;
    width: 100%;
    background-image: url(starss.jpg);
    background-size: cover;
    
}
.container{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.siz{
    font-size: 80px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}
.but{
    margin-top: 20px;
    margin-left: 50px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    border: none;
}